.input-holder {
  position: relative;
  min-width: 150px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.loop {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input-search {
  width: 100%;
  height: 32px;
  padding-left: 30px;
  background-color: rgba(var(--navigation-item-active-rgb), 0.2);
  border: none;
  color: var(--header-font-color);
  font-size: 12px;
  outline: none;

  &::-webkit-input-placeholder {
    color: var(--header-font-color);
  }
}

.loop {
  width: 12px;
  fill: var(--header-font-color);
}