:root{
  --header-bg: #598b85;
  --header-bottom-bg: #c1c1c1;
  --header-bottom-search-bg: #fff;
  --header-bottom-font-color: #9f9f9f;
  --header-bottom-input-color: #000;
  --header-font-color: #fff;
  --navigation-item-active-rgb: 255, 255, 255;

  --home-bg: #f1f1f1;
  --home-load-more-border: #cfcfcf;
  --home-load-more-bg: #fff;

  --grid-item-bg: #fff;
  --grid-item-border-gap: #c3c3c3;
  --grid-item-border: #d9d9d9;
  --grid-item-date-time: #8a9396;
  --grid-item-title: #69a195;

  --footer-bg: #f8f8f8;
  --footer-nav-item: #69a195;
  --footer-border: #d9d9d9;
  --foter-copyright: #7f828c;

 --loader: #69a195;
}